@page
@using Verion.Areas.VerionAnalysis.Pages.RenderPages;
@model OperationModel
@{
    ViewData["Title"] = "Application";
    Layout = "~/Areas/VerionAnalysis/Pages/_AnalysisLayout.cshtml";
}

<!-- Crop & Filters Menu -->
<div class="mt-3 mb-3">
    <!-- Crop Selection -->
    <div class="d-flex align-items-center px-3">
        <label id="analysis-filter-first" class="analysis-filter" for="crop">Safra:</label>
        <select class="form-select w-50" name="safra" id="safra">
            <option class="dropdown-content" value="1" selected>fExCrop+Name+DtBeg:dd/mm/yyyy+DtEnd:dd/mm/yyyy</option>
            <option class="dropdown-content" value="2">fExCrop+Name+DtBeg:dd/mm/yyyy+DtEnd:dd/mm/yyyy</option>
            <option class="dropdown-content" value="3">fExCrop+Name+DtBeg:dd/mm/yyyy+DtEnd:dd/mm/yyyy</option>
            <option class="dropdown-content" value="4">fExCrop+Name+DtBeg:dd/mm/yyyy+DtEnd:dd/mm/yyyy</option>
        </select> <!-- Crop Selection /> -->
        <!-- State Filters -->
        <label class="analysis-filter" for="application">Aplicação:</label>
        <select class="form-select w-25" name="application-filter" id="application-filter">
            <option class="dropdown-content" value="1" selected>Application</option>
            <option class="dropdown-content" value="2">fExFertilization</option>
            <option class="dropdown-content" value="4">fExIrrigation</option>
            <option class="dropdown-content" value="3">fExDrill</option>
            <option class="dropdown-content" value="4">fExHarvest</option>
        </select> <!-- State Filters /> -->
        <!-- Application Filters -->
        <label class="analysis-filter" for="situation">Situação:</label>
        <select class="form-select w-25" name="state-filter" id="state-filter">
            <option class="dropdown-content" value="1" selected>State</option>
            <option class="dropdown-content" value="2">fExActive</option>
            <option class="dropdown-content" value="3">fExEnded</option>
            <option class="dropdown-content" value="4">fExPaused</option>
            <option class="dropdown-content" value="4">fExError</option>
        </select> <!-- Filters /> -->
    </div>
</div> <!-- Crop & Filters Menu /> -->
<!-- Operation Board -->
<div id="info-menu">
    <!-- Operation - Header Section -->
    <h1 class="header-section"><i class="fa fa-desktop"></i> Monitoramento</h1> <!-- Header -->
    <div class="d-flex justify-content-end">
        <a name="add" id="item-add" class="add-remove-btn btn btn-primary" href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar </a> <!-- add -->
        <a name="remove" id="item-remove" class="add-remove-btn btn btn-primary" href="#" role="button"><i class="fa fa-minus" aria-hidden="true"></i> Remover </a> <!-- remove -->
    </div> <!-- Operation - Header Section /> -->
    <!-- Display Tables -->
    <div class="table-content-display align-items-center">
        <table class="table table-md table-bordered table-hover">
            <thead id="main-table" class="table-light">
                <tr>
                    <th class="column-name" scope="col">Aplicação</th>
                    <th class="column-name" scope="col">Descrição</th>
                    <th class="column-name" scope="col">Data <img src="~/images/filter-top-bottom.svg" /></th>
                    <th class="column-name" scope="col">Situação <img src="~/images/filter-top-bottom.svg" /></th>
                    <th class="column-name" scope="col">Último Acesso <img src="~/images/filter-top-bottom.svg" /></th>
                    <th class="column-name" scope="col">Avisos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
                <tr>
                    <th class="column-content" scope="row"><a href="#">Trabalho 1</a></th>
                    <td class="column-content">Fazenda Central A- Lorem</td>
                    <td class="column-content">dd/mm/yyyy</td>
                    <td class="column-content">Online</td>
                    <td class="column-content">2021-02-05 08:28:36</td>
                    <td class="column-content"><a href="#">01 Subscription Alert</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <div class="justify-content-center">
        <div class="pagination">
            <ul> <!--pages or li are comes from javascript --> </ul>
        </div>
    </div> <!-- Pagination /> -->
</div>

<!-- Scripts -->
<!-- JavaScript -->
<script>
    const element = document.querySelector(".pagination ul");
    let totalPages = 20;
    let page = 10;

    @* calling function with passing parameters and adding inside element which is ul tag *@
        element.innerHTML = createPagination(totalPages, page);
    function createPagination(totalPages, page) {
        let liTag = '';
        let active;
        let beforePage = page - 1;
        let afterPage = page + 1;
        if (page > 1) {
    @* show the next button if the page value is greater than 1 *@
                liTag += `<li class="btn prev" onclick="createPagination(totalPages, ${page - 1})"><span><i class="fas fa-angle-left"></i></span></li>`;
        }

        if (page > 2) {
    @* if page value is less than 2 then add 1 after the previous button *@
                liTag += `<li class="first numb" onclick="createPagination(totalPages, 1)"><span><i class="fas fa-angle-left"></i><i class="fas fa-angle-left"></i></span></li>`;
            if (page > 3) {
    @* if page value is greater than 3 then add this (...) after the first li or page if necessary *@
                    liTag += `<li class="dots"><span></span></li>`;
            }
        }

    @* how many pages or li show before the current li *@
                                                                if (page == totalPages) {
            beforePage = beforePage - 2;
        } else if (page == totalPages - 1) {
            beforePage = beforePage - 1;
        }
    @* how many pages or li show after the current li *@
                                                                if (page == 1) {
            afterPage = afterPage + 2;
        } else if (page == 2) {
            afterPage = afterPage + 1;
        }

        for (var plength = beforePage; plength <= afterPage; plength++) {
            if (plength > totalPages) {
    @* if plength is greater than totalPage length then continue *@
                                                                        continue;
            }
            if (plength == 0) {
    @* if plength is 0 than add +1 in plength value *@
                    plength = plength + 1;
            }
            if (page == plength) {
    @* if page is equal to plength than assign active string in the active variable *@
                    active = "active";
            } else {
    @* else leave empty to the active variable *@
                    active = "";
            }
            liTag += `<li class="numb ${active}" onclick="createPagination(totalPages, ${plength})"><span>${plength}</span></li>`;
        }

        if (page < totalPages - 1) {
    @* if page value is less than totalPage value by -1 then show the last li or page *@
                                                                    if (page < totalPages - 2) {
    @* if page value is less than totalPage value by -2 then add this (...) before the last li or page if necessary *@
                    liTag += `<li class="dots"><span></span></li>`;
            }
            liTag += `<li class="last numb" onclick="createPagination(totalPages, ${totalPages})"><span><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i></span></li>`;
        }

        if (page < totalPages) {
    @* show the next button if the page value is less than totalPage(20) *@
                liTag += `<li class="btn next" onclick="createPagination(totalPages, ${page + 1})"><span><i class="fas fa-angle-right"></i></span></li>`;
        }
        element.innerHTML = liTag; @* add li tag inside ul tag *@
        return liTag; @* return li tag *@
    }
</script>