@page
@using Verion.Areas.VerionAnalysis.Pages.RenderPages;
@model OperationModel
@{
	ViewData["Title"] = "Application";
	Layout = "~/Areas/VerionAnalysis/Pages/_AnalysisLayout.cshtml";
}

<div class="container-fluid">
	<div class="row row-cols-1 align-content-center vh-100">
		<div class="col p-0">
			<div class="d-flex justify-content-end p-4 bg-white">
				<button type="button" class="btn btn-secondary me-2">Message</button>
				<button type="button" class="btn btn-secondary me-2">Statistics</button>
				<button type="button" class="btn btn-secondary me-2">Researches</button>
				<button type="button" class="btn btn-secondary me-2">Track</button>
				<button type="button" class="btn btn-secondary me-2">Alarms</button>
			</div>

		</div>

		<!--MAP VEHICLES-->
		<div id="map-vehicles" class="col bg-success">
			<h2>MAP</h2>
		</div>
	</div>
</div>

<style>

	#nav-vehicles {
		height: 10%;
	}

	#map-vehicles {
		height: 90%;
	}

</style>