@page
@using Verion.Areas.VerionAnalysis.Pages.RenderPages;
@model OperationModel
@{
	ViewData["Title"] = "Application";
	Layout = "~/Areas/VerionAnalysis/Pages/_AnalysisLayout.cshtml";
}

	<div id="vehicles-row" class="row align-content-center">
		<!-- NAV BUTTON -->
		<div id="map-nav-buttons" class="col border-bottom">
			<div class="d-flex justify-content-end p-4">
				<button type="button" class="btn btn-secondary me-2 shadow-sm">Message</button>
				<button type="button" class="btn btn-secondary me-2 shadow-sm">Statistics</button>
				<button type="button" class="btn btn-secondary me-2 shadow-sm">Researches</button>
				<button type="button" class="btn btn-secondary me-2 shadow-sm">Track</button>
				<button type="button" class="btn btn-secondary me-2 shadow-sm">Alarms</button>
			</div>
		</div>

	</div>
	<div class="row">
		<div id="map-vehicles" class="col p-0">
			<img src="~/images/map-test.png" width="100%" alt="Minha Figura">
		</div>
	</div>
		<!--MAP VEHICLES-->

<style>

	#vehicles-row {
		background-color: #FFFF;
		box-shadow: 0px 0px 10px 0 rgb(0, 0, 0, 0.3);
	}

	#nav-vehicles {
		height: 10%;
	}

	#map-vehicles {
		height: 90%;
	}

	.map-test {
		background-image: url('~/wwwroot/images/map-test.png');
	}

</style>