@page
@using Verion.Areas.VerionAnalysis.Pages.RenderPages;
@model OperationModel
@{
    ViewData["Title"] = "Application";
    Layout = "~/Areas/VerionAnalysis/Pages/_AnalysisLayout.cshtml";
}

<!-- Vehicle Selection -->
<div class="mt-3 mb-3">
    <div class="d-flex align-items-center px-3">
        <label id="analysis-filter-first" class="analysis-filter cols-6" for="crop">Veículo:</label>
        <select class="form-select" name="vehicle" id="vehicle">
            <option class="dropdown-content" value="1" selected>VehicleType+VehicleName+VehicleLabel</option>
            <option class="dropdown-content" value="2">VehicleType+VehicleName+VehicleLabel</option>
            <option class="dropdown-content" value="3">VehicleType+VehicleName+VehicleLabel</option>
            <option class="dropdown-content" value="4">VehicleType+VehicleName+VehicleLabel</option>
        </select>
    </div>
</div>
<!-- Vehicle Selection /> -->
<!-- Vehicles - Header Section -->
<h1 class="header-section"><i class="fas fa-tractor"></i> Veículos</h1> <!-- Vehicles - Header Section /> -->
<!-- Map Track Vehicles -->
<!-- Map Buttons -->

<div id="vehicles-nav">
    <div class="header-section bg-transparent d-flex justify-content-end">
        <button id="message" type="button" class="btn btn-primary vehicle-btn shadow-sm">Message</button> <!-- Message -->
        <button id="statistics" type="button" class="btn btn-primary vehicle-btn shadow-sm">Statistics</button> <!-- Statistics-->
        <button id="researches" type="button" class="btn btn-primary vehicle-btn shadow-sm">Researches</button> <!-- Research -->
        <button id="tracks" type="button" class="btn btn-primary vehicle-btn shadow-sm">Track</button> <!-- Track -->
        <button id="alarms" type="button" class="btn btn-primary vehicle-btn shadow-sm">Alarms</button> <!-- Alarms -->
    </div> <!-- Map Buttons /> -->
</div>

<div id="map-vehicles">
    <img src="~/images/map-test.png" width="100%" alt="Minha Figura">
</div>


