@page
@using Verion.Areas.VerionAnalysis.Pages.RenderPages;
@model OperationModel
@{
	ViewData["Title"] = "Application";
	Layout = "~/Areas/VerionAnalysis/Pages/_AnalysisLayout.cshtml";
}

<div class="container mt-5">
	<div id="vehicles-nav" class="row bg-white">
		<!-- NAV MAP BUTTON -->
		<div class="d-flex justify-content-end py-4">
			<button id="message" type="button" class="btn btn-secondary me-2 shadow-sm">Message</button>
			<button id="statistics" type="button" class="btn btn-secondary me-2 shadow-sm">Statistics</button>
			<button id="researches" type="button" class="btn btn-secondary me-2 shadow-sm">Researches</button>
			<button id="tracks" type="button" class="btn btn-secondary me-2 shadow-sm">Track</button>
			<button id="alarms" type="button" class="btn btn-secondary me-2 shadow-sm">Alarms</button>
		</div>
		<!--MAP VEHICLES-->
		<div id="map-vehicles" class="mb-2">
			<img src="~/images/map-test.png" width="100%" alt="Minha Figura">
		</div>
	</div>
</div>


<!--CSS VEHICLES-->

<style>

	#vehicles-nav {
		margin-left: 0;
	}

	#vehicles-nav {
		box-shadow: 0px 0px 10px 0 rgb(0, 0, 0, 0.3);
	}

</style>