<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Verion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Verion.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- MAIN HORIZONTAL MENU -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/images/logo-verion-shared.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <!-- RENDER -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- FOOTER -->
    <footer class="bg-dark">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-lg-3 col-sm-6">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/images/logo-verion-shared.png"></a>
                        <div class="line"></div>

                        <!-- SOCIAL ICONS-->
                        <div class="social-icons">
                            <a asp-area="" asp-controller="Facebook" asp-action="Index"><i class="bi bi-facebook"></i></a>
                            <a asp-area="" asp-controller="Instagram" asp-action="Index"><i class="bi bi-instagram"></i></a>
                            <a asp-area="" asp-controller="Twitter" asp-action="Index"><i class="bi bi-twitter"></i></a>
                            <a asp-area="" asp-controller="Youtube" asp-action="Index"><i class="bi bi-youtube"></i></a>
                            <a asp-area="" asp-controller="Dribbble" asp-action="Index"><i class="bi bi-dribbble"></i></a>
                        </div>
                    </div>

                    <!-- SERVICES -->
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="mb-0 text-white">VERION</h5>
                        <div class="line"></div>
                        <ul>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                        </ul>
                    </div>

                    <!-- ABOUT -->
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="mb-0 text-white">SOBRE</h5>
                        <div class="line"></div>
                        <ul>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Empresa</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Parceiros</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Blog</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Fórum</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Documentação</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Galeria</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Downloads</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Cookies</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Mercado</a></li>
                        </ul>
                    </div>

                    <!-- CONTACT -->
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="mb-0 text-white">CONTATO</h5>
                        <div class="line"></div>
                        <ul>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li><a asp-area="" asp-controller="SpaceReserved" asp-action="Index">Space Reserved for Content</a></li>
                            <li class="address-line-1"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- COPYRIGHT -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row g-4 justify-content-center">
                    <div class="col-auto">
                        <p class="mb-0">© Copyright Verion 2023. Todos os direitos reservados.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- SRC SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- SCRIPTS -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
