@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<<<<<<< HEAD

<div class="row justify-content-center">
    @* BRAND LOGO *@
    <div class="text-center">
=======
@* BRAND LOGO *@
@* LOG IN AND REGISTER MENU *@
<div class="row flex-column align-items-center">
    <div class="col-5 text-center">
>>>>>>> a9f3d023a15598e0498eef20e898a09567720d2f
        <img id="main-logo-login-logout" class="img-fluid" src="~/images/logo-verion.png">
    </div>
<<<<<<< HEAD
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-header mb-4">
=======
    @* LOG IN AND REGISTER MENU *@
    <div class="col-5">
        <div class="card login-logout-card custom-div">
            <div class="card-header">
>>>>>>> 1ee3cb55efbdd84c59a856f2327afa9f7e6680a4
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">Register</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* SCRIPTS *@
@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}