/*! .CSS Variables */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    /*! Standard Colors Variables for Current Application */
    --std-yellow: #F5A500;
    --alt-yellow: #F9B510;
    --std-grey: #EFEFEF;
    --alt-grey: #7F7F7F;
    --std-white: #FEFEFE;
    --std-black: #323232;
    --std-red: #E10923;
    --alt-red: #F11528;
    --std-green: #027F79;
    --alt-green: #058f84;
    --std-c-font: #212526;
    --alt-c-font: #EFEFEF;
    --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    --std-border-radius: 0px;
    /*! @media-query Variables */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/*! Shared _Layout*/
/*! @media-query */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-sans-serif);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--std-grey);
    color: var(--std-c-font);
    font-family: var(--font-family-sans-serif);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-size: 16px;
    max-height: 100vw;
}

.hold-transition .content-wrapper,
.hold-transition .main-header,
.hold-transition .main-sidebar,
.hold-transition .main-sidebar *,
.hold-transition .control-sidebar,
.hold-transition .control-sidebar *,
.hold-transition .main-footer {
    transition: none !important;
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--std-white) inset;
    transition: background-color 5000s ease-in-out 0s;
}

/*! Forms / Btns / Checkboxes Focus - Reset */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus,
.form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0 var(--std-grey), 0 0 0 0 var(--std-yellow);
}

.form-control:focus {
    border-color: var(--std-yellow);
    box-shadow: none;
}

/*! Btns */
#analysis-filter-first {
    padding-left: 0;
}

.analysis-filter {
    padding: 0 10px;
    outline: none;
    border: none;
}

.btn-primary {
    background-color: var(--std-yellow);
    border-color: var(--std-yellow);
    color: var(--std-white);
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 0;
    min-height: 60px;
}

    .btn-primary:focus {
        background-color: var(--std-yellow);
    }

    .btn-primary:hover {
        background-color: var(--alt-yellow);
        border-color: var(--alt-yellow);
    }

.header-section {
    font-size: 40px;
    background: var(--std-black);
    color: var(--std-grey);
    font-weight: 600;
    width: 100%;
    text-align: center;
    height: 64px;
    line-height: 64px;
    margin: 0;
}

.add-remove-btn {
    font-size: 20px;
    min-width: 200px;
    padding: 0;
    line-height: 60px;
    height: 60px;
    margin-right: 20px;
    margin-top: 20px;
}

#item-add {
    background: var(--std-green);
}

    #item-add:focus, #item-add:hover {
        background: var(--alt-green);
    }

#item-remove {
    background: var(--std-red);
}

    #item-remove:focus, #item-remove:hover {
        background: var(--alt-red);
    }


.vehicle-btn {
    min-width: 100px;
    margin-bottom: 20px;
}

.table-content-display {
    padding: 20px;
}
/*! Forms */
.form-select {
    box-shadow: var(--box-shadow);
    outline: none;
}

    .form-select:active, .form-select::selection,
    .form-select:focus, .form-select::after {
        box-shadow: var(--box-shadow) !important;
        border-color: var(--std-yellow);
        outline: none !important;
    }

/*! Dropdown */
.dropdown-content {
    background-color: var(--std-grey);
    color: var(--std-black);
    text-align: center;
}

    .dropdown-content:hover {
        background-color: var(--alt-red) !important;
    }

/*! Checkbox */
.form-check-input {
    background-color: var(--std-white) !important;
    border: none;
    box-shadow: none !important;
    margin-bottom: 1em;
}

    .form-check-input:checked {
        background-color: var(--alt-yellow) !important;
        border-color: var(--alt-yellow);
    }

.custom-control-input {
    background-color: var(--main-color-gray);
    border-color: var(--main-color-gray);
}

    .custom-control-input:focus, .custom-control-label::before {
        box-shadow: none !important;
    }


.custom-checkbox {
    border: 1px solid var(--alt-grey);
}
/*! Tables */
.column-name {
    text-align: center;
}

.column-content {
    text-align: center;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

/*! Text */
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

/*! Links */
a {
    text-decoration: none;
    color: var(--std-c-font);
    transition: var(--transition);
}

    a:hover {
        text-decoration: none;
        color: var(--std-yellow);
    }

    a:not([href]):not([class]) {
        color: inherit;
        text-decoration: none;
    }

        a:not([href]):not([class]):hover {
            color: inherit;
            text-decoration: none;
        }

/*! Footer */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li, footer p, footer a {
    color: var(--alt-grey);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--std-yellow);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

    .social-icons a:hover {
    }

/*! General Headers */
.custom-div {
    background-color: var(--std-grey);
}

.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    border: none;
}

.card-header {
    margin-top: 2em;
    border: none;
}

nav-link:active {
    background-color: var(--std-yellow);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    margin-bottom: 0;
    background: var(--std-yellow);
    color: var(--std-white);
    border: none;
}

.navbar-brand {
    margin-left: 20px;
    width: 200px;
}

/*! Pages Navigation */

.pagination {
    justify-content: center;
}

    .pagination ul {
        display: flex;
        min-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        background: var(--std-black);
        padding: 10px;
        margin-bottom: 0 !important;
    }

        .pagination ul li {
            color: var(--alt-grey);
            list-style: none;
            line-height: 2rem;
            width: 3rem;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            user-select: none;
            transition: all 0.6s ease;
        }

            .pagination ul li.numb,
            .pagination ul li.numb.first,
            .pagination ul li.numb.last {
                list-style: none;
                height: 3rem;
                width: 3rem;
                margin: 0 10px;
                line-height: 3rem;
                border-radius: var(--std-border-radius);
            }

            .pagination ul li.dots {
                cursor: default;
            }

            .pagination ul li.btn {
                border-radius: var(--std-border-radius);
            }

            .pagination li.active,
            .pagination ul li.numb:hover,
            .pagination ul li:first-child:hover,
            .pagination ul li:last-child:hover {
                color: var(--std-black);
                background: var(--std-grey);
            }

/*! <_AuthLayout> */

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#main-logo-login-logout {
    width: 20rem;
}

#forgot-password {
    font-weight: 500;
    color: var(--std-yellow)
}

.login-logout-card {
    width: 34vw;
}

    .login-logout-card .card-header {
        padding: 0px 0px 12px 0px;
        border: none;
    }

    .login-logout-card ul.nav-tabs {
        margin: 0px 0px -12px 0px;
    }

    .login-logout-card li.nav-item {
        width: 50%;
    }

    .login-logout-card a.nav-link {
        font-weight: 600;
        color: var(--std-grey);
        font-size: 1em;
        text-align: center;
        padding: 1em;
    }

        .login-logout-card a.nav-link:active {
            color: var(--std-grey);
            font-size: 1em;
            text-align: center;
            padding: 1em;
        }

    .login-logout-card .card-body {
        padding: 10px 20px;
    }

.card-header-tabs {
    background: var(--std-black);
}

    .card-header-tabs a {
        background: var(--std-white);
    }

/*! <_VerionAnalysisLayout> */

.user-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 240px;
    max-height: 0px;
    overflow: hidden;
    overflow-x: auto;
    transition: max-height .9s;
}

    .user-menu-wrap.open-menu {
        max-height: 480px;
    }

.user-menu {
    background: var(--std-black);
}

.user-menu-info {
    display: flex;
    align-items: center;
}

    .user-menu-info h5 {
        font-weight: 900;
        color: var(--std-grey);
    }

    .user-menu-info .user-picture-menu {
        width: 55px;
        margin: 10px;
    }

.user-menu-links {
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--std-grey);
    margin: 12px auto;
}

    .user-menu-links:hover {
        background: var(--std-red);
        color: var(--std-grey);
    }

    .user-menu-links span {
        width: 100%;
        transition: transform 0.6s;
    }

    .user-menu-links .custom-i {
        width: 35px;
        padding: 8px;
        background: transparent;
        margin-right: 15px;
    }

    .user-menu-links i {
        transition: transform .9s;
    }

    .user-menu-links:hover i {
        transform: translateX(5px);
    }

    .user-menu-links:hover span {
        transform: translateX(5px);
    }

    .user-menu-links:hover span {
        font-weight: 600;
    }

/*! Icons */
.icon-button {
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: var(--std-border-radius);
    margin: 0 10px;
}

    .icon-button:hover {
        cursor: pointer;
    }

.icon-button__badge {
    position: absolute;
    top: -3px;
    right: -3Px;
    width: 25px;
    height: 25px;
    background: var(--std-red);
    color: var(--std-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.input-box {
    position: relative;
    height: 55px;
    max-width: 55px;
    width: 100%;
    margin: 0 10px;
    background-color: transparent;
    transition: all 0.6s cubic-bezier(0.18, -0.15, 0.165, 0.15);
    border: none;
    outline: none;
    border-radius: var(--std-border-radius);
}

    .input-box.open {
        max-width: 40%;
    }

.search-box {
    position: relative;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: var(--std-border-radius);
    font-size: 16px;
    font-weight: 600;
    color: var(--alt-grey);
    background-color: transparent;
    padding: 0 2em;
    transition: .9s;
}

    .search-box.active {
        background-color: var(--std-white);
    }

.input-box.open {
    padding: 0 15px 0 65px;
}

.icon {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 55px;
    border-radius: var(--std-border-radius);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.search-icon,
.close-icon {
    background: transparent;
    position: absolute;
    top: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}

.search-icon {
    transform: translateY(-50%) rotate(90deg);
}

.input-box.open .search-icon {
    transform: translateY(-50%) rotate(0);
}

.close-icon {
    right: 40px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-box.open .close-icon {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
}

.user-icon {
    cursor: pointer;
}

/*! Side Menu */

.side-bar {
    background: var(--std-black);
    height: 100%;
    top: 0;
    overflow-y: auto;
    transition: 0.9s ease;
    transition-property: left;
}

    .side-bar .menu {
        width: 100%;
        margin-top: 4.5em;
    }

        .side-bar .menu .item {
            position: relative;
            cursor: pointer;
        }

            .side-bar .menu .item a {
                font-weight: 600;
                color: var(--std-white);
                text-decoration: none;
                display: block;
                padding: 5px 30px;
                line-height: 60px;
            }

                .side-bar .menu .item a:hover {
                    background: var(--std-red);
                    transition: 0.6s ease;
                }

            .side-bar .menu .item i {
                margin-right: 15px;
            }

            .side-bar .menu .item a .dropdown {
                position: absolute;
                right: 0;
                margin: 20px;
                transition: 0.3s ease;
            }

            .side-bar .menu .item .sub-menu {
                background: rgba(255, 255, 255, 0.1);
                display: none;
            }

                .side-bar .menu .item .sub-menu a {
                    padding-left: 30px;
                }

.rotate {
    transform: rotate(90deg);
}

.close-btn {
    position: absolute;
    color: var(--std-white);
    font-size: 20px;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.menu-btn {
    position: absolute;
    color: var(--std-white);
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.main-menu {
    background: var(--std-grey);
}

.main-menu-display {
    background: var(--std-grey);
}

/*! Breadcrumbs */
.breadcrumb-header {
    background: var(--std-black);
    border: none;
    margin: 10px 0;
}

.breadcrumb {
    font-weight: 600;
    align-items: center;
    margin: 0;
    text-decoration: none;
    padding: 20px;
}

.breadcrumb-item a {
    color: var(--std-grey);
}

    .breadcrumb-item a:active {
        color: var(--std-yellow);
    }

#planning-menu,
#application-type,
#info-menu {
    background-color: var(--std-white);
}

/*! Report */
.report-main {
    padding: 20px;
}


.report-select-ratio {
    margin-bottom: 20px;
}

.report-output-type {
    justify-content: center;
    width: 50%;
}

.info-selected-report span {
    font-weight: 600;
}

.report-output-img {
    height: 100%;
    width: 100%;
    background: transparent;
}

.report-item ul {
    margin: 0;
}

.report-additional-info {
    margin: 20px 20px 20px 0;
    background: var(--std-white);
}

    .report-additional-info .report-additional-description {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        padding: 20px;
        font-size: 20px
    }

        .report-additional-info .report-additional-description p {
            color: var(--std-red);
        }

#report-additional-info-first {
    margin: 20px 20px 20px 0;
}

#report-additional-info-last {
    margin: 20px 0 20px 0;
}

/*! Vehicles */
#vehicles-nav {
    background: var(--std-white);
    padding: 20px;
    box-shadow: var(--box-shadow);
}

#map-vehicles {
    background: var(--std-white);
    padding: 0 20px 20px 20px;
}