:root {
    --main-color-orange: #F5A500;
    --second-color-orange: #F9B510;
    --main-color-grey: #EFEFEF;
    --second-color-grey: #4F4F4F;
    --main-color-white: #FEFEFE;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0 var(--main-color-grey), 0 0 0 0 var(--main-color-orange);
}

body {
    background-color: var(--main-color-grey);
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}

.custom-div {
    background-color: var(--main-color-grey);
}

.active {
    background-color: var(--main-color-grey) !important;
    border: none !important;
    font-weight: bolder;
    color: var(--main-color-orange) !important;
}

.nav-tabs .nav-link {
    border: none;
}

.card {
    border: none;
}

.card-header {
    margin-top: 2rem;
    border: none;
}

/*-------------------------------------------------------------*/
/* LOGIN LOGOUT PAGE */
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
    border: none;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    color: var(--second-color-grey);
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}
/*-------------------------------------------------------------*/
/* FORMS */
.form-control:focus {
    border-color: var(--main-color-orange);
    box-shadow: inset 0 0 0 var(--main-color-orange), 0 0 0 var(--main-color-orange);
}
/*-------------------------------------------------------------*/
/* BUTTONS */
.btn-primary {
    background-color: var(--main-color-orange);
    border-color: var(--main-color-orange);
}

.btn-primary:hover {
        background-color: var(--second-color-orange);
        border-color: var(--second-color-orange);
}
/*-------------------------------------------------------------*/
/* CHECKBOXES */
.form-check-input {
    background-color: var(--main-color-white) !important;
    border: none;
    box-shadow: none !important;
    margin-bottom: 1rem;
}

.form-check-input:checked {
        background-color: var(--second-color-orange) !important;
        border-color: var(--second-color-orange);
}

.custom-control-input {
    background-color: var(--main-color-gray);
    border-color: var(--main-color-gray);
}

.custom-control-input:focus, .custom-control-label::before {
        box-shadow: none !important;
}
/*-------------------------------------------------------------*/
/* ICONS */
.bi {
    color: var(--main-color-orange);
}
/*-------------------------------------------------------------*/
/* ID */
#main-logo-login-logout {
    margin-top: 10rem;
    width: 100%;
}

#forgot-password {
    font-weight: 500;
    color: var(--main-color-orange)
}
