/*! .CSS Variables */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    /*! Standard Colors Variables for Current Application */
    --std-orange: #F5A500;
    --alt-orange: #F9B510;
    --std-grey: #EFEFEF;
    --alt-grey: #4F4F4F;
    --std-white: #FEFEFE;
    --std-black: #323232;
    --std-red: #E10923;
    --std-green: #027F79;
    --std-c-font: #212526;
    --alt-c-font: #EFEFEF;
    --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
    /*! @media-query Variables */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}


/*! Shared _Layout*/
/*! @media-query */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-sans-serif);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    background-color: var(--std-grey);
    color: var(--std-c-font);
    font-family: var(--font-family-sans-serif);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-size: 16px;
    max-height: 100vw;
}

.hold-transition .content-wrapper,
.hold-transition .main-header,
.hold-transition .main-sidebar,
.hold-transition .main-sidebar *,
.hold-transition .control-sidebar,
.hold-transition .control-sidebar *,
.hold-transition .main-footer {
    transition: none !important;
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--std-white) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0 var(--std-grey), 0 0 0 0 var(--std-orange);
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}


a {
    text-decoration: none;
    color: var(--std-c-font);
    transition: var(--transition);
}

    a:hover {
        text-decoration: none;
        color: var(--std-orange);
    }

    a:not([href]):not([class]) {
        color: inherit;
        text-decoration: none;
    }

        a:not([href]):not([class]):hover {
            color: inherit;
            text-decoration: none;
        }

/*! Form */
.form-control:focus {
    border-color: var(--std-orange);
    box-shadow: inset 0 0 0 var(--std-orange), 0 0 0 var(--std-orange);
}

/*! Button */
.btn-primary {
    background-color: var(--std-orange);
    border-color: var(--std-orange);
}

    .btn-primary:hover {
        background-color: var(--alt-orange);
        border-color: var(--alt-orange);
    }

/*! Checkbox */
.form-check-input {
    background-color: var(--std-white) !important;
    border: none;
    box-shadow: none !important;
    margin-bottom: 1em;
}

    .form-check-input:checked {
        background-color: var(--alt-orange) !important;
        border-color: var(--alt-orange);
    }

.custom-control-input {
    background-color: var(--main-color-gray);
    border-color: var(--main-color-gray);
}

    .custom-control-input:focus, .custom-control-label::before {
        box-shadow: none !important;
    }


/*! Footer */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li, footer p, footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--std-orange);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

    .social-icons a:hover {
        background-color: var(--alt-grey);
    }


.custom-div {
    background-color: var(--std-grey);
}

.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    border: none;
}

.card-header {
    margin-top: 2em;
    border: none;
}

nav-link:active {
    background-color: var(--std-orange);
}

/*! <_AuthLayout> */
#main-logo-login-logout {
    margin-top: 10em;
    width: 100%;
}

#forgot-password {
    font-weight: 500;
    color: var(--std-orange)
}

.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
    border: none;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-weight: 600;
    color: var(--std-grey);
    font-size: 1em;
    text-align: center;
    padding: 1em;
}

    .login-logout-card a.nav-link:active {
        color: var(--std-grey);
        font-size: 1em;
        text-align: center;
        padding: 1em;
    }

.login-logout-card .card-body {
    padding: 10px 20px;
}

.card-header-tabs {
    background: var(--std-black);
}

    .card-header-tabs a {
        background: var(--std-white);
    }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: var(--std-orange);
    color: var(--std-white);
    border: none;
}

/*! <_VerionAnalysisLayout> */
/*! <nav-bar menu> */

.navbar-brand {
    width: 200px;
}

.user-picture-menu {
    width: 55px;
    height: 55px;
    cursor: pointer;
    border-radius: 6px;
    margin: 0 10px;
}

.user-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .9s;
}

    .user-menu-wrap.open-menu {
        max-height: 400px; 
    }

.user-menu {
    background: var(--std-grey);
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
}

.user-menu-info {
    display: flex;
    align-items: center;
}

    .user-menu-info h5 {
        font-weight: 600;
    }

    .user-menu-info .user-picture-menu {
        width: 55px;
        margin-right: 15px;
    }

.user-menu-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--std-black);
    margin: 12px auto;
}

    .user-menu-links span {
        width: 100%;
        transition: transform 0.6s;
    }

    .user-menu-links .custom-i {
        width: 35px;
        padding: 8px;
        background: transparent;
        margin-right: 15px;
    }

    .user-menu-links i {
        transition: transform .9s;
    }

    .user-menu-links:hover i {
        transform: translateX(5px);
    }

    .user-menu-links:hover span {
        transform: translateX(5px);
    }

    .user-menu-links:hover span {
        font-weight: 600;
    }

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    color: var(--alt-grey);
    background: var(--std-grey);
    border: none;
    outline: none;
    border-radius: 6px;
    margin: 0 10px;
}

    .icon-button:hover {
        cursor: pointer;
    }

.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -5Px;
    width: 25px;
    height: 25px;
    background: var(--std-red);
    color: var(--std-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.input-box {
    position: relative;
    height: 55px;
    max-width: 55px;
    width: 100%;
    margin: 0 10px;
    background-color: var(--std-white);
    transition: all 0.6s cubic-bezier(0.18, -0.15, 0.165, 0.15);
    border: none;
    outline: none;
    border-radius: 6px;
}

    .input-box.open {
        max-width: 40%;
    }

.search-box {
    position: relative;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    color: var(--alt-grey);
    background-color: transparent;
    padding: 0 2em;
    transition: .9s;
}

    .search-box.active {
        background-color: var(--std-grey);
    }

.input-box.open {
    padding: 0 15px 0 65px;
}

.icon {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 55px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    background-color: var(--std-grey);
    cursor: pointer;
}

.search-icon,
.close-icon {
    position: absolute;
    top: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}

.search-icon {
    color: var(--alt-grey);
    transform: translateY(-50%) rotate(90deg);
}

.input-box.open .search-icon {
    transform: translateY(-50%) rotate(0);
}

.close-icon {
    right: 40px;
    color: var(--alt-grey);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-box.open .close-icon {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
}

/*! <side menu> */

.side-bar {
    background: var(--std-black);
    height: 100%;
    top: 0;
    overflow-y: auto;
    transition: 0.9s ease;
    transition-property: left;
}

    .side-bar .menu {
        width: 100%;
        margin-top: 4.5em;
    }

        .side-bar .menu .item {
            position: relative;
            cursor: pointer;
        }

            .side-bar .menu .item a {
                color: var(--std-white);
                text-decoration: none;
                display: block;
                padding: 5px 30px;
                line-height: 60px;
            }

                .side-bar .menu .item a:hover {
                    background: var(--std-orange);
                    transition: 0.6s ease;
                }

            .side-bar .menu .item i {
                margin-right: 15px;
            }

            .side-bar .menu .item a .dropdown {
                position: absolute;
                right: 0;
                margin: 20px;
                transition: 0.3s ease;
            }

            .side-bar .menu .item .sub-menu {
                background: rgba(255, 255, 255, 0.1);
                display: none;
            }

                .side-bar .menu .item .sub-menu a {
                    padding-left: 30px;
                }

.rotate {
    transform: rotate(90deg);
}

.close-btn {
    position: absolute;
    color: var(--std-white);
    font-size: 20px;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.menu-btn {
    position: absolute;
    color: var(--std-white);
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.analysis-container {
    padding: 0;
    margin: 0;
}

.analysis-container .main-menu {
    height: 15%;
}

    .analysis-container .rendered-page {
        height: 85%;
    }

/*! <navigation bars> */
ul.pagination {
    position: relative;
    background-color: var(--std-black);
    display: flex;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
    justify-content: center;
}

    ul.pagination li {
        list-style: none;
        line-height: 3.5em;
        margin: 0 0.2em;
    }

        ul.pagination li.page-number {
            width: 3.5em;
            height: 3.5em;
            line-height: 3.5em;
            text-align: center;
        }

        ul.pagination li a {
            display: block;
            text-decoration: none;
            color: var(--std-grey);
            font-weight: 600;
            border-radius: 5%;
        }

        ul.pagination li.page-number:hover a {
            color: var(--std-green);
        }

        ul.pagination li.page-number.active a {
            background: var(--std-green);
            color: var(--std-white);
        }

        ul.pagination li:first-child {
            font-weight: 700;
            font-size: 20px;
        }

        ul.pagination li:last-child {
            font-weight: 700;
            font-size: 20px;
        }

        ul.pagination li a:hover {
            color: var(--std-green);
        }